<breadcrumbs active="search"></breadcrumbs>

<!-- Frame of the page -->
<div class="container-fluid">
    <form (ngSubmit)="search()" #f="ngForm" class="form-horizontal">
        <div class="row form-group">
            <div class="col-sm-12 card">
                <!-- Search tab -->
                <br>
                <div class="row form-group">
                    <div class="col-sm-9">
                        <div class="row">
                            <label class="col-sm-1 control-label" style="text-align:right"></label>
                            <div class="col-sm-8">
                                <input type="text" name="searchInput" class="form-control" SFLUppercase [(ngModel)]="model.SearchInput" #searchInput="ngModel" maxlength="140" autocomplete="off" placeholder="Search">
                            </div>
                            <div class="col-sm-3">
                                <select name="searchType" class="form-control" [(ngModel)]="model.SearchType" #searchType="ngModel">
                                    <!--<option value="" disabled="true" default selected>Please select field</optio>-->
                                    <option value="accountNo">Account number</option>
                                    <option value="uenNo">UEN number</option>
                                    <option value="entityName">Entity name</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <button class="btn btn-primary pull-left" style="margin-left:2px;"><i class="fa fa-fw fa-search"></i> Search</button>
                        <button class="btn btn-warning pull-left" style="margin-left:2px;" type='button' (click)="clearList(f)"><i class="fa fa-fw fa-eraser"></i> Clear</button>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </form>
</div>
